In [1]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
trainData = pd.read_csv('./train.csv')
testData = pd.read_csv('./test.csv')

## preparing train data
family = pd.DataFrame(0, index=xrange(len(trainData)), columns=['Family'])
for ii in xrange(len(trainData)):
    if ((trainData.SibSp[ii]+trainData.Parch[ii])>0): 
        family.Family[ii]=1

gender = pd.DataFrame(0, index=xrange(len(trainData)), columns=['Gender'])
for ii in xrange(len(trainData)):
    if (trainData.Sex[ii]=='female'): 
        gender.Gender[ii]=1


new = pd.DataFrame(0, index=xrange(len(trainData)), columns=['New']) ## initialize new column
for ii in xrange(len(trainData)):
    if (trainData.Age[ii]<10):
        new.New[ii] = 2
    else:
        if (trainData.Sex[ii]=='female'): 
            new.New[ii]=1
 
embar = pd.DataFrame(0, index=xrange(len(trainData)), columns=['Embarked']) ## 0 indicates embarked C (i want the two)
### missing values get embarked C which associates with a larger fraction of survival
for ii in xrange(len(trainData)):
    if (trainData.Embarked[ii]=='S'):
        embar.Embarked[ii] = 1
    else:
        if (trainData.Embarked[ii]=='Q'): 
            embar.Embarked[ii] = 2


import re
# A function to get the title from a name.
def get_title(name):
    # Use a regular expression to search for a title.
    title_search = re.search(' ([A-Za-z]+)\.', name)
    # If the title exists, extract and return it.
    if title_search:
        return title_search.group(1)
    return ""
# Get all the titles and print how often each one appear.
titles = trainData["Name"].apply(get_title)

trainData.Name=titles
trainData.Name[(titles=='Capt')|(titles=='Don')|(titles=='Rev')|(titles=='Jonkheer')|(titles=='Dr')|(titles=='Mr')]=0
trainData.Name[(titles=='Major')|(titles=='Col')|(titles=='Sir')|(titles=='Master')]=1
trainData.Name[(titles=='Ms')|(titles=='Lady')|(titles=='Mme')|(titles=='Mlle')|(titles=='Countess')|(titles=='Mrs')]=2
trainData.Name[(titles=='Miss')]=3
                                                                  
newDF = pd.concat([trainData.Name,gender.Gender,family.Family,trainData.Pclass,embar.Embarked,
                            trainData.Fare,trainData.Survived],axis=1)

C:\Users\Saina\Anaconda2\lib\site-packages\ipykernel\__main__.py:50: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\Saina\Anaconda2\lib\site-packages\ipykernel\__main__.py:51: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\Saina\Anaconda2\lib\site-packages\ipykernel\__main__.py:52: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\Saina\Anaconda2\lib\site-packages\ipykernel\__main__.py:53: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [32]:
from sklearn.cross_validation import train_test_split

train, test = train_test_split(newDF, test_size = 0.28)
features_train = train.ix[:,:'Fare']
labels_train = train.Survived
features_test = test.ix[:,:'Fare']
labels_test = test.Survived

from sklearn import tree
clf_DT = tree.DecisionTreeClassifier()
clf_DT.fit( features_train, labels_train )
pred_DT = clf_DT.predict( features_test )

from sklearn.metrics import accuracy_score
print accuracy_score(labels_test,pred_DT)

from sklearn.naive_bayes import GaussianNB
clf_NB = GaussianNB()
clf_NB.fit( features_train, labels_train )
pred_NB = clf_NB.predict( features_test )
print accuracy_score(labels_test,pred_NB)

from sklearn.ensemble import RandomForestClassifier
clf_RF = RandomForestClassifier(min_samples_split=6)
clf_RF.fit( features_train,labels_train )
pred_RF = clf_RF.predict(features_test)
print accuracy_score(labels_test,pred_RF)

from sklearn.svm import SVC
#clf = SVC(kernel='linear')
clf_svm = SVC(kernel='rbf',C=100.0)   ### 0.990898
clf_svm.fit(features_train, labels_train)
pred_svm = clf_svm.predict(features_test)
print accuracy_score(labels_test,pred_svm)

0.824
0.764
0.832
0.824

In [33]:
## preparing test data
family_test = pd.DataFrame(0, index=xrange(len(testData)), columns=['Family'])
for ii in xrange(len(testData)):
    if ((testData.SibSp[ii]+testData.Parch[ii])>0): 
        family_test.Family[ii]=1

gender_test = pd.DataFrame(0, index=xrange(len(testData)), columns=['Gender'])
for ii in xrange(len(testData)):
    if (testData.Sex[ii]=='female'): 
        gender_test.Gender[ii]=1
        
new_test = pd.DataFrame(0, index=xrange(len(testData)), columns=['New']) ## initialize new column
for ii in xrange(len(testData)):
    if (testData.Age[ii]<10):
        new_test.New[ii] = 2
    else:
        if (testData.Sex[ii]=='female'): 
            new_test.New[ii]=1 

embar = pd.DataFrame(0, index=xrange(len(testData)), columns=['Embarked']) ## 0 indicates embarked C (i want the two)
### missing values get embarked C which associates with a larger fraction of survival
for ii in xrange(len(testData)):
    if (testData.Embarked[ii]=='S'):
        embar.Embarked[ii] = 1
    else:
        if (testData.Embarked[ii]=='Q'): 
            embar.Embarked[ii] = 2
            

            import re
# A function to get the title from a name.
def get_title(name):
    # Use a regular expression to search for a title.
    title_search = re.search(' ([A-Za-z]+)\.', name)
    # If the title exists, extract and return it.
    if title_search:
        return title_search.group(1)
    return ""
# Get all the titles and print how often each one appear.
titles1 = testData["Name"].apply(get_title)

testData.Name=titles1
testData.Name[(titles1=='Capt')|(titles1=='Don')|(titles1=='Rev')|(titles1=='Jonkheer')|(titles1=='Dr')|(titles1=='Mr')]=0
testData.Name[(titles1=='Major')|(titles1=='Col')|(titles1=='Sir')|(titles1=='Dona')|(titles1=='Master')]=1
testData.Name[(titles1=='Ms')|(titles1=='Lady')|(titles1=='Mme')|(titles1=='Mlle')|(titles1=='Countess')|(titles1=='Mrs')]=2
testData.Name[(titles1=='Miss')]=3

newDF_predict = pd.concat([testData.Name,gender_test.Gender,family_test.Family,testData.Pclass,
                            embar.Embarked,testData.Fare],axis=1)

nan_rows = newDF_predict[newDF_predict.isnull().T.any().T]
nan_rows
newDF_predict

C:\Users\Saina\Anaconda2\lib\site-packages\ipykernel\__main__.py:43: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\Saina\Anaconda2\lib\site-packages\ipykernel\__main__.py:44: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\Saina\Anaconda2\lib\site-packages\ipykernel\__main__.py:45: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\Saina\Anaconda2\lib\site-packages\ipykernel\__main__.py:46: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

    Name  Gender  Family  Pclass  Embarked      Fare
0      0       0       0       3         2    7.8292
1      2       1       1       3         1    7.0000
2      0       0       0       2         2    9.6875
3      0       0       0       3         1    8.6625
4      2       1       1       3         1   12.2875
5      0       0       0       3         1    9.2250
6      3       1       0       3         2    7.6292
7      0       0       1       2         1   29.0000
8      2       1       0       3         0    7.2292
9      0       0       1       3         1   24.1500
10     0       0       0       3         1    7.8958
11     0       0       0       1         1   26.0000
12     2       1       1       1         1   82.2667
13     0       0       1       2         1   26.0000
14     2       1       1       1         1   61.1750
15     2       1       1       2         0   27.7208
16     0       0       0       2         2   12.3500
17     0       0       0       3         0    7.2250
18     3       1       1       3         1    7.9250
19     2       1       0       3         0    7.2250
20     0       0       1       1         0   59.4000
21     1       0       1       3         1    3.1708
22     2       1       0       1         1   31.6833
23     0       0       1       1         0   61.3792
24     2       1       1       1         0  262.3750
25     0       0       1       3         1   14.5000
26     3       1       1       1         0   61.9792
27     0       0       0       3         0    7.2250
28     0       0       0       1         1   30.5000
29     0       0       1       3         0   21.6792
..   ...     ...     ...     ...       ...       ...
388    0       0       0       3         2    7.7500
389    1       0       1       3         1   21.0750
390    0       0       0       1         1   93.5000
391    2       1       1       1         1   39.4000
392    1       0       1       3         1   20.2500
393    0       0       0       2         1   10.5000
394    0       0       1       3         1   22.0250
395    2       1       1       1         1   60.0000
396    0       0       0       3         2    7.2500
397    2       1       1       1         0   79.2000
398    0       0       0       3         1    7.7750
399    0       0       0       3         2    7.7333
400    3       1       0       1         1  164.8667
401    0       0       1       2         1   21.0000
402    3       1       1       1         0   59.4000
403    0       0       0       1         1   47.1000
404    0       0       1       1         0   27.7208
405    0       0       0       2         0   13.8625
406    0       0       1       2         1   10.5000
407    0       0       1       1         0  211.5000
408    3       1       0       3         2    7.7208
409    3       1       1       3         1   13.7750
410    3       1       0       3         2    7.7500
411    2       1       1       1         2   90.0000
412    3       1       0       3         1    7.7750
413    0       0       0       3         1    8.0500
414    1       1       0       1         0  108.9000
415    0       0       0       3         1    7.2500
416    0       0       0       3         1    8.0500
417    1       0       1       3         0   22.3583

[418 rows x 6 columns]

In [34]:
newDF_predict.Fare[152]=3

C:\Users\Saina\Anaconda2\lib\site-packages\ipykernel\__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [35]:
prediction = clf_RF.predict(newDF_predict)
prs = pd.DataFrame(prediction,index=xrange(len(prediction)),columns=['Survived'])
prs.describe()
prs.to_clipboard()
prs

     Survived
0           0
1           1
2           0
3           0
4           1
5           0
6           1
7           0
8           1
9           0
10          0
11          0
12          1
13          0
14          1
15          1
16          0
17          0
18          0
19          1
20          1
21          1
22          1
23          1
24          1
25          0
26          1
27          0
28          0
29          0
..        ...
388         0
389         1
390         0
391         1
392         1
393         0
394         0
395         1
396         0
397         1
398         0
399         0
400         1
401         0
402         1
403         0
404         0
405         1
406         0
407         0
408         1
409         1
410         1
411         1
412         1
413         0
414         1
415         0
416         0
417         1

[418 rows x 1 columns]