### This is a very quick analysis of Loan Prediction challenge from Analytics Vidhya. 
A newer version for more careful feature selection and engineering will be added soon.  This is only to provide a very quick look at a data (in less than 30 min), and get some idea of what to expect:

## Problem Statement:
Dream Housing Finance company deals in all home loans. They have presence across all urban, semi urban and rural areas. Customer first apply for home loan after that company validates the customer eligibility for loan.
Problem

Company wants to automate the loan eligibility process (real time) based on customer detail provided while filling online application form. These details are Gender, Marital Status, Education, Number of Dependents, Income, Loan Amount, Credit History and others. To automate this process, they have given a problem to identify the customers segments, those are eligible for loan amount so that they can specifically target these customers. Here they have provided a partial data set.

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('https://datahack-prod.s3.ap-south-1.amazonaws.com/train_file/train_u6lujuX_CVtuZ9i.csv',index_col='Loan_ID')
data.head()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
Loan_ID,,,,,,,,,,,,
LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [3]:
data.describe(include=['int64','float64']) # or include=[np.number]

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History
count,614.000000,614.000000,592.000000,600.00000,564.000000
mean,5403.459283,1621.245798,146.412162,342.00000,0.842199
std,6109.041673,2926.248369,85.587325,65.12041,0.364878
min,150.000000,0.000000,9.000000,12.00000,0.000000
25%,2877.500000,0.000000,100.000000,360.00000,1.000000
50%,3812.500000,1188.500000,128.000000,360.00000,1.000000
75%,5795.000000,2297.250000,168.000000,360.00000,1.000000
max,81000.000000,41667.000000,700.000000,480.00000,1.000000

In [4]:
data.describe(include='all')
data.describe(include=['object'])

,Gender,Married,Dependents,Education,Self_Employed,Property_Area,Loan_Status
count,601,611,599,614,582,614,614
unique,2,2,4,2,2,3,2
top,Male,Yes,0,Graduate,No,Semiurban,Y
freq,489,398,345,480,500,233,422

In [5]:
print('The size of the data is: {}'.format(data.shape))
print(data.dtypes)

The size of the data is: (614, 12)
Gender                object
Married               object
Dependents            object
Education             object
Self_Employed         object
ApplicantIncome        int64
CoapplicantIncome    float64
LoanAmount           float64
Loan_Amount_Term     float64
Credit_History       float64
Property_Area         object
Loan_Status           object
dtype: object

In [6]:
data.isnull().sum()

Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [7]:
data.describe(exclude=['int64','float64'])

,Gender,Married,Dependents,Education,Self_Employed,Property_Area,Loan_Status
count,601,611,599,614,582,614,614
unique,2,2,4,2,2,3,2
top,Male,Yes,0,Graduate,No,Semiurban,Y
freq,489,398,345,480,500,233,422

In [8]:
data.Gender.fillna(value='Male',inplace=True)
data.Married.fillna(value='Yes',inplace=True)
data.Dependents.fillna(value=0,inplace=True)
data.Self_Employed.fillna(value='No',inplace=True)

In [9]:
data.isnull().sum()

Gender                0
Married               0
Dependents            0
Education             0
Self_Employed         0
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [10]:
data.Credit_History.value_counts()

1.0    475
0.0     89
Name: Credit_History, dtype: int64

In [11]:
data.Credit_History.fillna(value=1.0,inplace=True)
data.LoanAmount.fillna(data.LoanAmount.median(),inplace=True)
data.Loan_Amount_Term.fillna(data.Loan_Amount_Term.median(),inplace=True)

In [12]:
data.isnull().sum()

Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

In [13]:
# Get dummy variables
dat = pd.get_dummies(data,columns=['Gender','Married','Dependents',
                             'Education','Self_Employed','Property_Area'],drop_first=True)
dat.head(3)

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Loan_Status,Gender_Male,Married_Yes,Dependents_0,Dependents_1,Dependents_2,Dependents_3+,Education_Not Graduate,Self_Employed_Yes,Property_Area_Semiurban,Property_Area_Urban
Loan_ID,,,,,,,,,,,,,,,,
LP001002,5849,0.0,128.0,360.0,1.0,Y,1,0,1,0,0,0,0,0,0,1
LP001003,4583,1508.0,128.0,360.0,1.0,N,1,1,0,1,0,0,0,0,0,0
LP001005,3000,0.0,66.0,360.0,1.0,Y,1,1,1,0,0,0,0,1,0,1

In [14]:
print(dat.shape)
print(dat.columns)

(614, 16)
Index(['ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'Loan_Status', 'Gender_Male',
       'Married_Yes', 'Dependents_0', 'Dependents_1', 'Dependents_2',
       'Dependents_3+', 'Education_Not Graduate', 'Self_Employed_Yes',
       'Property_Area_Semiurban', 'Property_Area_Urban'],
      dtype='object')

In [15]:
dat.Loan_Status.value_counts()

Y    422
N    192
Name: Loan_Status, dtype: int64

In [16]:
dat.index.get_duplicates()

[]

In [17]:
dat.duplicated().sum()

0

In [18]:
train = dat.sample(frac=0.75,random_state=42)
test = dat.loc[~dat.index.isin(train.index),:]

In [19]:
X_train = train.drop('Loan_Status',axis=1)
y_train = train.Loan_Status
X_test = test.drop('Loan_Status',axis=1)
y_test = test.Loan_Status

In [20]:
from sklearn.linear_model import LogisticRegression
clf_log = LogisticRegression(class_weight='balanced')
clf_log.fit(X_train,y_train)

LogisticRegression(C=1.0, class_weight='balanced', dual=False,
          fit_intercept=True, intercept_scaling=1, max_iter=100,
          multi_class='ovr', n_jobs=1, penalty='l2', random_state=None,
          solver='liblinear', tol=0.0001, verbose=0, warm_start=False)

In [ ]:
from sklearn.metrics import accuracy_score,confusion_matrix
loan_predict = clf_log.predict(X_test)
print(accuracy_score(y_test,loan_predict))
print(confusion_matrix(y_test,loan_predict))

0.779220779221
[[24 22]
 [12 96]]

In [ ]:
%matplotlib inline
loan_predictProb = clf_log.predict_proba(X_test)
pd.DataFrame(loan_predictProb).plot(kind='hist')

In [ ]:
#data.Gender.map({'Male':1,'Female':0})
#data.Married.map({'Yes':1,'No':0})
#data.Education.map({'Graduate':1,'Not Graduate':0})
#data.Loan_Status.map({'N':1,'Y':0}).head()

In [ ]:
# prediction for submission
test_data = pd.read_csv('https://datahack-prod.s3.ap-south-1.amazonaws.com/test_file/test_Y3wMUE5_7gLdaTN.csv',
                        index_col = 'Loan_ID')

In [ ]:
test_data.info()

In [ ]:
test_data.isnull().sum()

In [ ]:
test_data.Gender.fillna(value='Male',inplace=True)
test_data.Dependents.fillna(value=0,inplace=True)
test_data.Self_Employed.fillna(value='No',inplace=True)
test_data.Credit_History.fillna(value=1.0,inplace=True)
test_data.LoanAmount.fillna(data.LoanAmount.median(),inplace=True)
test_data.Loan_Amount_Term.fillna(data.Loan_Amount_Term.median(),inplace=True)

In [ ]:
test_data.isnull().sum()

In [ ]:
test_dat = pd.get_dummies(test_data,columns=['Gender','Married','Dependents',
                             'Education','Self_Employed','Property_Area'],drop_first=True)
test_dat.head(4)

In [ ]:
newPred = clf_log.predict(test_dat)

In [ ]:
submission = pd.DataFrame({'Loan_ID' : test_dat.index, 'Loan_Status': newPred}).set_index('Loan_ID')
submission.to_csv('loanPrediction.csv')